<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.CertpositionMapper">
  <resultMap id="BaseResultMap" type="com.wzj.pojo.Certposition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="up" jdbcType="INTEGER" property="up" />
    <result column="down" jdbcType="INTEGER" property="down" />
    <result column="leftPadding" jdbcType="INTEGER" property="leftPadding" />
    <result column="rightPadding" jdbcType="INTEGER" property="rightPadding" />
    <result column="used" jdbcType="BIT" property="used" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, up, down, leftPadding, rightPadding, used
  </sql>
  <select id="select" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_certposition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer">
    delete from sys_certposition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.wzj.pojo.Certposition">
    insert into sys_certposition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="up != null">
        up,
      </if>
      <if test="down != null">
        down,
      </if>
      <if test="leftPadding != null">
        leftPadding,
      </if>
      <if test="rightPadding != null">
        rightPadding,
      </if>
      <if test="used != null">
        used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="up != null">
        #{up,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        #{down,jdbcType=INTEGER},
      </if>
      <if test="leftPadding != null">
        #{leftPadding,jdbcType=INTEGER},
      </if>
      <if test="rightPadding != null">
        #{rightPadding,jdbcType=INTEGER},
      </if>
      <if test="used != null">
        #{used,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.wzj.pojo.Certposition">
    update sys_certposition
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="up != null">
        up = #{up,jdbcType=INTEGER},
      </if>
      <if test="down != null">
        down = #{down,jdbcType=INTEGER},
      </if>
      <if test="leftPadding != null">
        leftPadding = #{leftPadding,jdbcType=INTEGER},
      </if>
      <if test="rightPadding != null">
        rightPadding = #{rightPadding,jdbcType=INTEGER},
      </if>
      <if test="used != null">
        used = #{used,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="changeUsed" parameterType="java.lang.Integer">
  	update sys_certposition set used=false;
  	update sys_certposition set used=true where id=#{id,jdbcType=INTEGER}
  </update>
</mapper>