<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.ReviewFormPartMapper">
  <resultMap id="BaseResultMap" type="com.wzj.pojo.ReviewFormPart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="PSJL" jdbcType="VARCHAR" property="psjl" />
    <result column="PSJG" jdbcType="VARCHAR" property="psjg" />
    <result column="syndicId" jdbcType="INTEGER" property="syndicid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, num, PSJL, PSJG, syndicId
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ys_syndic_part
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from ys_syndic_part
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByCId" parameterType="java.lang.Integer">
    delete from ys_syndic_part
    where syndicId = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wzj.pojo.ReviewFormPart">
    insert into ys_syndic_part
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="psjl != null">
        PSJL,
      </if>
      <if test="psjg != null">
        PSJG,
      </if>
      <if test="syndicid != null">
        syndicId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="psjl != null">
        #{psjl,jdbcType=VARCHAR},
      </if>
      <if test="psjg != null">
        #{psjg,jdbcType=VARCHAR},
      </if>
      <if test="syndicid != null">
        #{syndicid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateById" parameterType="com.wzj.pojo.ReviewFormPart">
    update ys_syndic_part
    <set>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="psjl != null">
        PSJL = #{psjl,jdbcType=VARCHAR},
      </if>
      <if test="psjg != null">
        PSJG = #{psjg,jdbcType=VARCHAR},
      </if>
      <if test="syndicid != null">
        syndicId = #{syndicid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertList" parameterType="java.util.List">
  	insert into ys_syndic_part (num,PSJL,PSJG,syndicId) values
  	<foreach collection="list" item="item" index="index" separator="," close=";">
  		(#{item.num},#{item.psjl},#{item.psjg},#{item.syndicid})
  	</foreach>
  </insert>
</mapper>