<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.ComUserMapper">
  <resultMap id="BaseResultMap" type="com.wzj.pojo.ComUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="usercode" jdbcType="VARCHAR" property="usercode" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="dept" jdbcType="VARCHAR" property="dept" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="locked" jdbcType="INTEGER" property="locked" />
    <result column="RamusCenter" jdbcType="VARCHAR" property="ramusCenter" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="IsCut" jdbcType="BIT" property="isCut" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="post" jdbcType="VARCHAR" property="post" />
  </resultMap>
  <sql id="Base_Column_List">
    id, usercode, username, password,dept, salt, locked, RamusCenter, status, IsCut , gender , birthday , phone , mobile , email,unit,post
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from com_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from com_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.wzj.pojo.ComUser">
    insert into com_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usercode != null">
        usercode,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="dept != null">
        dept,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="locked != null">
        locked,
      </if>
      <if test="RamusCenter != null">
        RamusCenter,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="IsCut != null">
        IsCut,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email
      </if>
      <if test="unit != null">
        unit
      </if>
      <if test="post != null">
        post
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        #{locked,jdbcType=CHAR},
      </if>
      <if test="RamusCenter != null">
        #{RamusCenter,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR}
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR}
      </if>
      <if test="post != null">
        #{post,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.wzj.pojo.ComUser">
    update com_user
    <set>
      <if test="usercode != null">
        usercode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="dept != null">
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="locked != null">
        locked = #{locked,jdbcType=CHAR},
      </if>
      <if test="ramusCenter != null">
        ramusCenter = #{ramusCenter,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isCut != null">
        isCut = #{isCut,jdbcType=BIT},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="post != null">
        post = #{post,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wzj.pojo.ComUser">
    update com_user
    set username = #{username,jdbcType=VARCHAR},
      RamusCenter =#{ramusCenter,jdbcType=VARCHAR},
<!--       password =#{password,jdbcType=VARCHAR}, -->
<!--       phone =#{phone,jdbcType=VARCHAR}, -->
      gender = #{gender,jdbcType=VARCHAR},
<!--       usercode = #{usercode,jdbcType=VARCHAR}, -->
<!--       locked = #{locked,jdbcType=INTEGER}, -->
      birthday = #{birthday,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      dept=#{dept,jdbcType=VARCHAR},
      unit=#{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatezj" parameterType="com.wzj.pojo.ComUser">
    update com_user
    set username = #{username,jdbcType=VARCHAR},
      RamusCenter =#{ramusCenter,jdbcType=VARCHAR},
      password =#{password,jdbcType=VARCHAR},
      phone =#{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      usercode = #{usercode,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      dept=#{dept,jdbcType=VARCHAR},
      unit=#{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByForInsert" parameterType="com.wzj.pojo.ComUser">
    update com_user
    set username = #{username,jdbcType=VARCHAR},
      RamusCenter =#{ramusCenter,jdbcType=VARCHAR},
      password =#{password,jdbcType=VARCHAR},
      phone =#{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      usercode = #{usercode,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
<!--       post = #{post,jdbcType=VARCHAR} -->
      dept=#{dept,jdbcType=VARCHAR}
<!--       unit=#{unit,jdbcType=VARCHAR} -->
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updatefzjgUser" parameterType="com.wzj.pojo.ComUser">
    update com_user
    set username = #{username,jdbcType=VARCHAR},
      RamusCenter =#{ramusCenter,jdbcType=VARCHAR},
<!--       password =#{password,jdbcType=VARCHAR}, -->
<!--       phone =#{phone,jdbcType=VARCHAR}, -->
      gender = #{gender,jdbcType=VARCHAR},
<!--       usercode = #{usercode,jdbcType=VARCHAR}, -->
<!--       locked = #{locked,jdbcType=INTEGER}, -->
      birthday = #{birthday,jdbcType=DATE},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      post = #{post,jdbcType=VARCHAR},
      dept=#{dept,jdbcType=VARCHAR},
      unit=#{unit,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findAllByUser" parameterType="com.wzj.pojo.ComUser" resultMap="BaseResultMap">
    select * from com_user
    where dept=#{dept,jdbcType=VARCHAR} and RamusCenter=#{ramusCenter,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="findAllFZ"  parameterType="com.wzj.pojo.ComUser" resultMap="BaseResultMap">
  	select * from com_user
    where dept=#{dept,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="getByUserIds" resultType="com.wzj.pojo.ComUser"  parameterType="String">
  	${comuser}
  </select>
  <select id="findZj"  parameterType="com.wzj.pojo.ComUser" resultMap="BaseResultMap">
  	select * from com_user
    where dept=#{dept,jdbcType=VARCHAR} order by id desc
  </select>
  <select id="findZjByBranchId"  parameterType="com.wzj.pojo.ComUser" resultMap="BaseResultMap">
  	select * from com_user
    where dept=#{dept,jdbcType=VARCHAR} and RamusCenter=#{ramusCenter,jdbcType=VARCHAR} order by id desc
  </select>
</mapper>