<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzj.dao.DivisionRegionMapper">
  <resultMap id="BaseResultMap" type="com.wzj.DTO.DivRegionDTO">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="REGION_CODE" jdbcType="VARCHAR" property="regioncode" />
    <result column="DIVISION_CODE" jdbcType="VARCHAR" property="divisioncode" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, REGION_CODE, DIVISION_CODE
  </sql>
  <select id="getDivRegion" resultMap="BaseResultMap" parameterType="String">
    select * from ys_division_region where REGION_CODE=#{regioncode,jdbcType=VARCHAR}
  </select>
   <select id="findAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ys_division_region
  </select>
  <select id="getDivRegionById" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ys_division_region where ID=#{id,jdbcType=INTEGER}
  </select>
   <update id="updateDivRegById" parameterType="com.wzj.DTO.DivRegionDTO">
   update ys_division_region set REGION_CODE=#{regioncode,jdbcType=VARCHAR},DIVISION_CODE=#{divisioncode,jdbcType=VARCHAR}
   where ID=#{id,jdbcType=INTEGER}
   </update>
   <select id="findByDivcode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ys_division_region where DIVISION_CODE like #{code,jdbcType=VARCHAR}
  </select>
   <select id="getDivRegByCode" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ys_division_region where DIVISION_CODE like #{code,jdbcType=VARCHAR}
  </select>
</mapper>